@import 'variables-mixin';


@keyframes purple-btn-hover {
    0% {
        transform: scale(1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg, $primarycolor, $secondarycolor);
    }

    20% {
        background: linear-gradient(0deg, lighten($primarycolor, 1%), lighten($secondarycolor, 1%));
    }

    40% {
        background: linear-gradient(0deg, lighten($primarycolor, 2%), lighten($secondarycolor, 2%));
    }

    60% {
        background: linear-gradient(0deg, lighten($primarycolor, 3%), lighten($secondarycolor, 3%));
    }

    80% {
        background: linear-gradient(0deg, lighten($primarycolor, 4%), lighten($secondarycolor, 4%));
    }

    100% {
        transform: scale(1.05);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient(0deg, lighten($primarycolor, 5%), lighten($secondarycolor, 5%));
    }
}

@keyframes purple-btn-unhover {
    0% {
        transform: scale(1.05);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient(0deg, lighten($primarycolor, 5%), lighten($secondarycolor, 5%));
    }

    20% {
        background: linear-gradient(0deg, lighten($primarycolor, 4%), lighten($secondarycolor, 4%));
    }

    40% {
        background: linear-gradient(0deg, lighten($primarycolor, 3%), lighten($secondarycolor, 3%));
    }

    60% {
        background: linear-gradient(0deg, lighten($primarycolor, 2%), lighten($secondarycolor, 2%));
    }

    80% {
        background: linear-gradient(0deg, lighten($primarycolor, 1%), lighten($secondarycolor, 1%));
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg, $primarycolor, $secondarycolor);
    }
}

@keyframes color-icon {
    0% {
        color: #7e7e7e;
    }

    100% {
        color: $primarycolor;
    }
}

@keyframes color-icon-reverse {
    0% {
        color: $primarycolor;
    }

    100% {
        color: #7e7e7e;
    }
}

@keyframes btn-hover {
    0% {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

    100% {

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
}

@keyframes btn-unhover {
    0% {

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    100% {

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
}

@keyframes menu-appearing {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes menu-hover {
    0% {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1);
    }

    100% {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.005);
    }
}

@keyframes menu-unhover {
    0% {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.005);
    }

    100% {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1);
    }
}

@keyframes check-appear {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-54px)
    }
}

@keyframes anim-loader-1 {
    0% {
      transform: scale(1, 1)
    }
    17% {
      transform: scale(0.7, 1.3)
    }
    33% {
      transform: scale(1, 1)
    }
}
  
@keyframes anim-loader-2 {
    33% {
      transform: scale(1, 1)
    }
    50% {
      transform: scale(0.7, 1.3)
    }
    66% {
      transform: scale(1, 1)
    }
}
  
@keyframes anim-loader-3 {
    66% {
      transform: scale(1, 1)
    }
    84% {
      transform: scale(0.7, 1.3)
    }
    100% {
      transform: scale(1, 1)
    }
}

@keyframes disparition-loader {
    0% {
        opacity: 1;
        z-index: 3;
    }

    99%{
        opacity: 0;
    }

    100% {
        z-index: -5;
        opacity: 0;
    }
}
  